<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982870326786-60fdbkia1c7u0g7giufbrqronlcdrrj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982870326786-60fdbkia1c7u0g7giufbrqronlcdrrj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBiYiw-51t8WIkVsdQQwEoK0lHWgn-4qZE</string>
	<key>GCM_SENDER_ID</key>
	<string>982870326786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chizhik.diana.apps</string>
	<key>PROJECT_ID</key>
	<string>moview-d2210</string>
	<key>STORAGE_BUCKET</key>
	<string>moview-d2210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982870326786:ios:2469a92bbc5330e8bf711b</string>
</dict>
</plist>